.aplayer-title {
  color: #666;
}
/*颜色修复*/
.aplayer-list-title {
  color: #666;
}
/*颜色修复*/
.aplayer.aplayer-fixed .aplayer-miniswitcher {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
/*右半圆角*/
.aplayer-body {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
/*右半圆角*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px;
}
/*左收进*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0px;
}
/*覆盖时展开*/
.aplayer.aplayer-fixed .aplayer-lrc {
  text-shadow: none;
}
/*取消外发光效果*/
.aplayer .aplayer-lrc p.aplayer-lrc-current {
  text-shadow: none;
  color: #fff;
}
/*当前歌词高亮*/
